.header {
  border-bottom: 1px solid #ececec;
}

.header__line {
  @extend %container;

  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  @extend %list;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.current {
  color: $accent-color;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item {
  position: relative;
}

.nav__link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  position: absolute;
  bottom: -2px;
  transform: translate(0, 0);
  opacity: 1;
}

.nav__link:hover,
.nav__link:focus {
  color: $accent-color;
}

.contact {
  @extend %list;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.contact .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__email,
.nav__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  display: flex;
  align-items: baseline;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
}

.nav .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__icon {
  display: inline-block;
  align-self: center;

  stroke-width: 0;
  stroke: currentColor;
  fill: $primary-text-color;
  margin-right: 10px;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__email:hover .nav__icon,
.nav__email:focus .nav__icon,
.nav__tel:hover .nav__icon,
.nav__tel:focus .nav__icon {
  fill: $accent-color;
}

.nav__email:hover,
.nav__email:focus,
.nav__tel:hover,
.nav__tel:focus {
  color: $accent-color;
}
